@import 'variables';

.boxes {
  background: white;
}

.diplay-list {
    background: $primary-color;
    width: 40%;
    border: 2px solid black;
    border-radius: 30px;
    padding: 20px 0;
    position: relative;
}

.close {
    border: 2px solid black;
    display: inline-block;
    padding: 3px;
    background: white;
    position: absolute;
    right: 10px;
    top: 12px;
    font-weight: bold;
    font-size: 1.1em;
    border-radius: 25px;
}

#ten {
  display: none;
}
